@charset "utf-8";

body {
    background-color:lightcoral;
}

h1{
    color: white;
    text-align: center;
}

/* Add a wheat background color to the top navigation*/
.nav1{
    background-color: wheat;
    overflow: hidden;
}